<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- text-to-sound -->
  <script src='https://code.responsivevoice.org/responsivevoice.js'></script>

  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/loginform.css">
  <link rel="stylesheet" href="/styles/command.css">



  <title>Musicgram</title>
</head>

<body>

  <div id="app">
    <nav-bar @open-login="openLogin = true" @open-register="openRegister = true" @log-out="logOut" v-bind:logstatus="isLogin"></nav-bar>
    <main-landing v-if="!isLogin"></main-landing>
    <main-content></main-content>

    
    
    <command></command>
    <upload-file></upload-file>

    <music-bar></music-bar>
    <music-bar></music-bar>
    <music-animation></music-animation>
    <login-form v-if="openLogin"></login-form>
    <main-footer @opening-register="openRegister = true"></main-footer>
    <register-form v-if="openRegister"></register-form>


    <!-- <music-bar></music-bar> -->
  </div>
  <script src="./scripts/command.js"></script>
  <script src="./scripts/upload.js"></script>
  <script src="./scripts/navbar.js"></script>
  <script src="./scripts/landing.js"></script>
  <script src="./scripts/footer.js"></script>
  <script src="./scripts/login.js"></script>
  <script src="./scripts/register.js"></script>
  <script src="./scripts/main-content.js"></script>
  <script src="./scripts/musicBar.js"></script>
  <script src="./scripts/musicAnimation.js"></script>

  <script src="./scripts/index.js"></script>
  <!-- <script src="./scripts/animation.js"></script> -->

</body>

</html>